[submodule "app"]
	path = app
	url = git@github.com:veerpartap/vewTestRepo.git
[submodule "site/model"]
	path = site/model
	url = git@github.com:veerpartap/mdlTestRepo.git
[submodule "site/controller"]
	path = site/controller
	url = git@github.com:veerpartap/cntTestRepo.git
